header {
	position: fixed;
	top: 0px;
	left: 25%;
	padding: 5px;
	margin: 0px;
	width: 90%;
	background-color: rgb(219,239,253);}
	
body {
	width: 90%;
	margin: 0 auto;}
	
.column1of2 {
	float: left;
	width: 30%;
	margin: 1%;
	padding: 1%;}
.column2of2 {
	float: left;
	width: 30%;
	margin: 1%;
	padding: 1%;}

#footer {
	position: static;
	padding: 10px;
	width: 90%;
	margin: 1%;}
	
.clear {
clear: left;}